body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1100px;
    margin: auto; /* Centers the page */
    margin-top: 10px;
    text-align: left;
    /*background-color: rgb(200, 191, 231);*/
    background-color: rgb(112, 146, 190);
}

/* MAIN GRID INDEX */
.grid-container {
    /* To change height of View container change all 3 values with the same constant. */
    /* grid-container org-height: 870px */
    /* con grid-template-rows org-height: 693px */
    /* vGrid-container org-height: 687px */
    height: 970px; /* grid-container org-height: 870px */
    display: grid;
    gap: 4px;
    grid-template-columns: 106px 1fr 106px;
    grid-template-rows: 106px 793px 26px auto; /* con org-height: 693px */
    grid-template-areas:
        'hed hed hed'
        '.   con .'
        '.   .   .' /*This is the 20px space*/
        'fot fot fot';
    /*background-color: rgb(112, 146, 190);*/
    background-color: rgb(200, 191, 231);
    border-style: solid;
    border-width: medium;
    padding-bottom: 0px;
}

.header {
    grid-area: hed;
    display: grid;
    grid-template-columns: 106px 5fr 106px;
    grid-template-rows: 106px;
    grid-template-areas:
        'h1 h2 .';
}

.header-item {
    border-style: none;
}

.header-item-1 {
    grid-area: h1;
    padding-left: 5px;
    padding-top: 5px;
}

.header-item-2 {
    grid-area: h2;
}

.content {
    grid-area: con;
    background-color: rgb(248, 247, 237);
    text-align: left;
    border-style: solid;
    border-width: medium;
    padding-left: 0.5em;
    /*padding: 10px;*/ /* Moved to here from .vContent [but that did not work for Home/About footer]*/
}

.footer {
    grid-area: fot;
    display: grid;
    background-color: rgb(163, 73, 164);
    border-style: solid;
    border-width: medium;
    border-left: none;
    border-bottom: none;
    border-right: none;
    padding: 5px;
    height: 20px; /*THIS DOES NOT WORK WITH BOOTSTRAP*/
    align-items: center; /*DOES NOT SEEM TO BE NEEDED*/
    justify-content: center;
    font-weight: normal;
}


/* ------------------------------------------------------------ */
/* CSS for About */

.vGrid-container {
    font-family: Segoe UI Tahoma Verdana Sans-Serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 132px auto 1em;
    grid-template-areas:
        'vhed'
        'vcon'
        'vfot';
    height: 787px; /* vGrid-container org-height: 687px */
    overflow-y: scroll; /* Creates vertical scrollbar when needed */
}

.vHeader {
    grid-area: vhed;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'vh1 vh2 vh3';
}

.vHeader-item {
    border-style: none;
    padding: 0px;
    padding-top: 5px; /*for profile picture*/
}

.vHeader-item-1 {
    grid-area: vh1;
}

.vHeader-item-2 {
    grid-area: vh2;
    text-align: center;
}

.vHeader-item-3 {
    grid-area: vh3;
    text-align: right;
    font-size: xx-large;
}

.vContent {
    grid-area: vcon;
    text-align: left;
    /*padding: 10px; Put this into .content instead [but that did not work for Home/About] content */
    padding-bottom: 0px;
    /*grid-template-rows: 100%; /*HAVE NOT TESTED THIS YET BUT IT SHOULD PROTECT FROM OVERFLOW */
}

.vFooter {
    grid-area: vfot;
    font-weight: normal;
    padding-left: 10px;
}

.CVblue {
    color: rgb(0, 112, 192);
}

.black {
    color: black;
}
/* END of CSS for About */
/* ------------------------------------------------------------ */