@{
    ViewData["Title"] = "About";
}


<div class="vGrid-container">
    <div class="vHeader">
        <div class="vHeader-item vHeader-item-1">
            <img src="~/images/CV-FOTO-censored.jpg" alt="CV-FOTO" style="width:110px; height:auto;">
        </div>
        <div class="vHeader-item vHeader-item-2">
            <h3>Jay Kay</h3>
            <p>E-mail: <span class="CVblue">jaykay@hotmail.com</span></p>
            <p>Phone: 555-692471337</p>
        </div>
        <div class="vHeader-item vHeader-item-3">
            <h1>CV</h1>
        </div>
    </div>

    <div class="vContent">
        <h2 class="CVblue">COMPETENCE PROFILE</h2>
        <hr class="black" />
        <p>
            I have over a decade of experience as a consultant in the automotive industry and an MSc degree in electrical engineering. After working for several years with functional testing at Volvo Cars, I have worked with HIL development on my three most recent assignments at Volvo Cars and CEVT. I am looking for an assignment as a sub-consultant within automotive.
        </p>
        <h2 class="CVblue">PROFESSIONAL EXPERIENCE</h2>
        <hr class="black" />
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas mauris turpis, vel fringilla turpis accumsan ut. In pulvinar laoreet tortor in maximus. Maecenas congue enim ac enim tincidunt, vitae porttitor dui suscipit. Curabitur non volutpat justo. Etiam tempor ipsum lectus, quis mattis turpis egestas nec. Cras semper dolor lacus, quis venenatis lorem venenatis nec. Fusce condimentum, nisl nec bibendum vulputate, sem lacus sagittis leo, et convallis velit nulla a lorem. Ut elementum, sem vel lacinia auctor, sem quam fermentum erat, at tincidunt massa lorem in mauris. Duis interdum feugiat eleifend. Vivamus efficitur consequat ex quis pellentesque. Aliquam erat volutpat. Nulla facilisi.

            Pellentesque porta porta aliquam. Aenean nec nisi tellus. Donec varius leo quam, id ultrices lacus posuere sed. Vivamus euismod massa fringilla est iaculis dictum. Vestibulum dictum vel magna rutrum consequat. Etiam sed imperdiet ex, nec suscipit enim. Nulla vehicula, purus a tempus laoreet, turpis leo aliquam orci, vel maximus erat elit ut nunc. Fusce ultricies ex felis, a laoreet enim vulputate id. Pellentesque quis fermentum nulla.

            In faucibus augue quis mauris bibendum vehicula. Morbi id commodo augue, vitae imperdiet erat. Ut eleifend velit a erat viverra rutrum porttitor nec lectus. Sed suscipit augue vitae erat ullamcorper placerat. Nunc varius molestie felis. Donec nec lacus ullamcorper, euismod diam id, faucibus felis. Quisque feugiat mauris vitae libero ultrices mattis. Phasellus vel augue id massa egestas lobortis. Aenean molestie sed odio nec rutrum. Vestibulum a nisl nec justo congue consectetur. Vestibulum placerat turpis libero, ac iaculis urna tincidunt sed. In hac habitasse platea dictumst. Phasellus tincidunt felis sit amet mollis dapibus. Pellentesque sit amet cursus purus. Donec fermentum felis interdum, interdum nisi non, scelerisque arcu. Quisque pharetra ultrices lectus, ac feugiat purus feugiat sed.
        </p>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas mauris turpis, vel fringilla turpis accumsan ut. In pulvinar laoreet tortor in maximus. Maecenas congue enim ac enim tincidunt, vitae porttitor dui suscipit. Curabitur non volutpat justo. Etiam tempor ipsum lectus, quis mattis turpis egestas nec. Cras semper dolor lacus, quis venenatis lorem venenatis nec. Fusce condimentum, nisl nec bibendum vulputate, sem lacus sagittis leo, et convallis velit nulla a lorem. Ut elementum, sem vel lacinia auctor, sem quam fermentum erat, at tincidunt massa lorem in mauris. Duis interdum feugiat eleifend. Vivamus efficitur consequat ex quis pellentesque. Aliquam erat volutpat. Nulla facilisi.

            Pellentesque porta porta aliquam. Aenean nec nisi tellus. Donec varius leo quam, id ultrices lacus posuere sed. Vivamus euismod massa fringilla est iaculis dictum. Vestibulum dictum vel magna rutrum consequat. Etiam sed imperdiet ex, nec suscipit enim. Nulla vehicula, purus a tempus laoreet, turpis leo aliquam orci, vel maximus erat elit ut nunc. Fusce ultricies ex felis, a laoreet enim vulputate id. Pellentesque quis fermentum nulla.

            In faucibus augue quis mauris bibendum vehicula. Morbi id commodo augue, vitae imperdiet erat. Ut eleifend velit a erat viverra rutrum porttitor nec lectus. Sed suscipit augue vitae erat ullamcorper placerat. Nunc varius molestie felis. Donec nec lacus ullamcorper, euismod diam id, faucibus felis. Quisque feugiat mauris vitae libero ultrices mattis. Phasellus vel augue id massa egestas lobortis. Aenean molestie sed odio nec rutrum. Vestibulum a nisl nec justo congue consectetur. Vestibulum placerat turpis libero, ac iaculis urna tincidunt sed. In hac habitasse platea dictumst. Phasellus tincidunt felis sit amet mollis dapibus. Pellentesque sit amet cursus purus. Donec fermentum felis interdum, interdum nisi non, scelerisque arcu. Quisque pharetra ultrices lectus, ac feugiat purus feugiat sed.
        </p>
        
    </div>
    <div class="vFooter">
        <p>Jay Kay / E-mail: <span class="CVblue">jaykay@hotmail.com</span> / Phone: 555-692471337</p>
    </div>
</div>