@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<nav>
    <ul class="grid-list">
        <li>
            <p>
                <a asp-controller="Doctor" asp-action="Temperature">Temperature</a>
            </p>
        </li>
        <li>
            <p>
                <a asp-controller="Games" asp-action="GuessNumber">The Guess The Number Game</a>
            </p>
        </li>
        <li>
            <p>
                <a asp-controller="People" asp-action="Index">People Index</a>
            </p>
        </li>
        <li>
            <p>
                <a asp-controller="Ajax" asp-action="Index">Ajax</a>
            </p>
        </li>
    </ul>
</nav>