@{
    ViewData["Title"] = "Index";
}

<div class="vContent">
    <h1>Index</h1>
    <nav>
        <ul class="grid-list">
            <li>
                <a asp-controller="Doctor" asp-action="Temperature">Temperature</a>
            </li>
        </ul>
    </nav>
</div>