@{
    ViewData["Title"] = "Projects";
}

<div class="vContent">
<h1>Projects</h1>
    <nav>
        <ul class="grid-list">
            <li>
                <p>
                    <a href="https://github.com/Jojkenstein/Calculator">Calculator</a>: <br />
                    A simple calculator that can handle addition, subtraction, multiplication and division.
                </p>
            </li>
            <li>
                <p>
                    <a href="https://github.com/Jojkenstein/HangMan">Hangman</a>: <br />
                    A classical guess-the-word game run in terminal mode.
                </p>
            </li>
            <li>
                <p>
                    <a href="https://github.com/Jojkenstein/VendingMachine">Vending Machine</a>: <br />
                    A program that simulates the process of purchasing products from a machine.
                </p>
            </li>
            <li>
                <p>
                    <a href="https://github.com/Jojkenstein/SOKOBAN">Sokoban</a>: <br />
                    A move-the-box game run in HTML using CSS and Javascript.
                </p>
            </li>

        </ul>
    </nav>
</div>