@model Person

<br />
<p>The following person was deleted:</p>

<div class="row">
    <div class="col">@Model.Name</div>
    <div class="col">@Model.PhoneNumber</div>
    <div class="col">@Model.City</div>
    <div class="col">@Model.Id</div>
</div>