@model List<Person>

<br />
<p>The current list of people in the database:</p>

@foreach (var person in Model)
{
    <div class="row">
        <div class="col">@person.Name</div>
        <div class="col">@person.PhoneNumber</div>
        <div class="col">@person.City</div>
        <div class="col">@person.Id</div>
    </div>
}
